/* F O N T   A N D   T Y P O */

#documentView {
    /*font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", sans-serif;*/
    
    font-family: Hack, Inconsolata, Menlo, Consolas, Courier, 'Courier New', monospace;
}
/* Bold level 2 titles */
div.project.selected > div.children > div > div.name div.content {
  font-weight: bold;
}
/* ...but not the completed ones – it just looks wrong */

div.project.selected > div.children > div.project.done > div.name > div.content {
    font-weight: normal;
}
/* N A M E S */

.name .content {
    font-size: 16px;
    line-height: 1.5 !important;
}
.selected > .children > .project .project > .name > .bullet,
.selected > .children > .project > .name > .bullet {
    margin-top: 10px;
}

/* remove all borders and footers */

div.top.edge,
div.bottom.edge,
div.left.edge,
div.right.edge,
div.top.right.corner,
div.top.left.corner,
div.bottom.right.corner,
div.bottom.left.corner,
div.footer,
div#bottomLinks,
.proPitch {
    display: none;
}
/* N O T E S */

.notes .content {
    /*color: rgb(40, 144, 202) !important;*/
    
    color: #888;
    /*font-family: Hack, Menlo, Consolas, Courier, 'Courier New', monospace;*/
    
    font-size: 13px !important;
}
/* B U L L E T S */
/* Smaller */

.bullet {
    height: 14px;
    width: 14px;
    text-indent: 3px;
    line-height: 15px;
}
/* Color */

.bullet {
    color: rgba(40, 144, 202, 0.5);
}
.bullet {
    color: rgba(49, 161, 204, 1);
}
/* Color: Shared bullets */

.project.shared > .name > .bullet {
    background-color: rgba(255, 185, 95, 1);
}
.project.shared.open > .name > a.bullet {
    background: rgba(255, 185, 95, .5);
}
.project.shared > .name > .bullet:hover,
.project.shared > .name > .bullet.dragging {
    background-color: rgba(245, 145, 17, 1);
}
.project.shared.open > .name > .bullet:hover,
.project.shared.open > .name > .bullet.dragging {
    background-color: rgba(245, 145, 17, 1);
}
.project.addedShared > .name > .bullet {
    background-color: #ececec;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(178, 255, 95, 1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(178, 255, 95, 1);
    box-shadow: 0px 0px 3px 2px rgba(255, 185, 95, 1);
}
.project.addedShared.open > .name > .bullet {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(178, 255, 95, .5);
    -moz-box-shadow: 0px 0px 1px 1px rgba(178, 255, 95, .5);
    box-shadow: 0px 0px 3px 2px rgba(255, 185, 95, .5);
}
/* M I N I M L   P A G E   B A C K G R O U N D */

#pageContainer > div.page div.corner,
#pageContainer > div.page div.edge {
    background-image: none;
    background-color: #fff;
    display: none;
}
#pageContainer > div.page {
    border: none;
    background: #f9f9fa;
}
.contentUnderline {
    display: inline-block;
    text-decoration: none !important;
    margin-left: -.25em;
    margin-right: -.25em;
    padding: 0 .25em;
    border-radius: 2px;
    background: #EFF3C2;
    color: #000 !important;
}
.name .contentUnderline {
    margin-left: 0;
    margin-right: 0;
}
